@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_LayoutAdministrateur";
    ViewBag.Title = "Interface administrateur";
}

@model GestionRelationClient.Models.Administrateur

<div class="interfaceAdministrateur">
    <h2>@Model.NomAdministrateur</h2>
</div>