@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_LayoutGestionnaire";
    ViewBag.Title = "Ajout produit";
}
@model GestionRelationClient.Models.Gestionnaire

<div class="interfaceGestionnaire">
    <h2>Ajout d'un produit</h2>

    <div class="ajoutArticle">
        @using (Html.BeginForm("AjouterProduit", "Gestionnaire", FormMethod.Post))
        {
            <div class="form-group">
                <div>
                    <label for="Nom">Nom</label>
                    <input type="text" name="Nom" class="form-control" required/>
                </div>
                <div>
                    <label for="Image">Image</label>
                    <input type="text" name="Image" class="form-control" />
                </div>
                <div>
                    <label for="Fabricant">Fabricant</label>
                    <input type="text" name="Fabricant" class="form-control" required/>
                </div>
            </div>


            <div class="form-group">
                <div>
                    <label for="Type">Type</label>
                    <input type="text" name="Type" class="form-control" required />
                </div>
                <div>
                    <label for="Prix">Prix</label>
                    <input type="number" name="Prix" class="form-control" required />
                </div>
                <div>
                    <label for="Quantite">Quantité</label>
                    <input type="number" name="Quantite" class="form-control" required />
                </div>
                <div>
                    <label for="Capacite">Capacité</label>
                    <input type="number" name="Capacite" class="form-control" required />
                </div>
            </div>

            <div class="form-group">
                <div>
                    <label for="Description">Description</label>
                    <textarea name="Description" class="form-control" required>Description du produit</textarea>
                </div>
                <div>
                    <label for="Manuel">Manuel</label>
                    <textarea name="Manuel" class="form-control" required>Manuel du produit</textarea>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Ajouter ce produit</button>
        }
    </div>
    
</div>