@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_LayoutGestionnaire";
    ViewBag.Title = "Ajout service";
}
@using GestionRelationClient.Models
@{
    List<Abonnement> abonnements = ViewData["Abonnements"] as List<Abonnement>;
}

@model GestionRelationClient.Models.Gestionnaire

<div class="interfaceGestionnaire">
    <h2>Ajout d'un service</h2>

    <div class="ajoutArticle">
        @using (Html.BeginForm("AjouterService", "Gestionnaire", FormMethod.Post))
        {
            <div class="form-group">
                <div>
                    <label for="Nom">Nom</label>
                    <input type="text" name="Nom" class="form-control" required />
                </div>
                <div>
                    <label for="Image">Image</label>
                    <input type="text" name="Image" class="form-control" required />
                </div>
                <div>
                    <label for="Type">Type</label>
                    <input type="text" name="Type" class="form-control" required />
                </div>
                <div class="inputToFlexBox">
                    <label for="AbonnementAssocie">Associer un abonnement</label>
                    <input type="checkbox" name="AbonnementAssocie" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <div>
                    <label for="Prix">Prix</label>
                    <input type="number" name="Prix" class="form-control" required />
                </div>
                <div>
                    <label for="Abonnement">Abonnement</label>
                    <select name="Abonnement" class="form-control" required>
                        @foreach (GestionRelationClient.Models.Abonnement abonnement in abonnements)
                        {
                            <option value="@abonnement.AbonnementId">Durée de @abonnement.DureeAbonnement mois</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <label for="Description">Description</label>
                    <textarea name="Description" class="form-control" required>Description du produit</textarea>
                </div>
                <div>
                    <label for="Manuel">Manuel</label>
                    <textarea name="Manuel" class="form-control" required>Manuel du produit</textarea>
                </div>
                <div>
                    <label for="Conditions">Conditions</label>
                    <textarea name="Conditions" class="form-control" required>Conditions du produit</textarea>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Ajouter ce produit</button>
        }
    </div>

</div>