body {

}
h1 {
    text-align: center;
}

/* ---- Menu de naviagation ---- */
nav {
    background-color: #212124;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 2%;
}
nav .acceuil {
    width: 10%;
    padding-left: 1%;
}
nav .menu {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.menuLink {
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.menuLink:hover {
    color: rgb(236 236 236);
    text-decoration: none;
}





/* ---- Connexion et inscription client ---- */
.connectClient, .inscriptionClient {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}
    .formInscriptionClient {
        margin-top: 5%;
        margin-bottom: 5%;
    }

.formInscriptionClient .form-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}



/* ---- Liste comptes client ---- */
.listeComptesClient {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}
.lienVersModifications {
    display: flex;
    justify-content: right;
}
.lienVersModifications *{
    text-align: right;
}
.lienRetour {
    text-align: left;
}
.listeComptesClient h2 {
    text-align: left;
}

.formSelectionCompte {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    background-color: rgb(235 235 235);
    padding: 2px;
}
    .formSelectionCompte:hover {
        background-color: rgb(220 220 220);
    }
.formSelectionCompte button {
    border-radius: 0;
}

































/*------------------------------------------------------------------------------------------------------*/
/*                                          Partie Gestionnaire                                         */
/*------------------------------------------------------------------------------------------------------*/
.interfaceGestionnaire {
    margin-left: 5%;
    margin-right: 5%;
}
.interfaceGestionnaire .lists {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}
.clientsListe {
    width: 30%;
    display: flex;
    justify-content: initial;
    flex-direction: column;
    border: 1px solid blue;
}
.clientListeAajouter {
    width: 50%;
}
.formSelectionClient {
    padding: 0;
    padding-left: 5px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(235 235 235);
    height: 60px;
}
.formSelectionClient:hover {
    background-color: rgb(220 220 220);
}
    .formSelectionClient button {
        height: 60px;
        padding: 0;
    }
        .formSelectionClient button img {
            height: 60px;
            margin: 0;
        }
    .formSelectionClient h4 {
        font-size: 25px;
        vertical-align: middle;
        height: 60px;
        line-height: 60px;
    }


/* ---- Ajout d'un article ---- */

.ajoutArticle {
    border: 1px solid red;
    text-align: center;
}
    .ajoutArticle .form-group {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }