@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewBag.Title = "Connexion";
}

<div class="connectClient">

    <h1>Connexion</h1>

    <div class="formInscriptionClient">
        @if (ViewData["sessionErreur"].ToString() == "True")
        {
            <p class="identifiantsInvalides">Session invalide</p>
        }
        @if (ViewData["sessionExpiree"].ToString() == "True")
        {
            <p class="identifiantsInvalides">Session Expirée</p>
        }

        @using (Html.BeginForm("ConnectClient", "Client", FormMethod.Post))
        {
            <div class="form-group">
                <div>
                    <label for="Login">Login</label>
                    <input type="text" name="Login" class="form-control" />
                    <!---<span asp-validation-for="Login" class="text-danger"></span>-->
                </div>
            </div>


            <div class="form-group">
                <div>
                    <label for="MotDePasse">Mot de passe</label>
                    <input type="password" name="MotDePasse" class="form-control form-control-motDePasse" />
                    <!--<span asp-validation-for="MotDePasse" class="text-danger"></span>-->
                </div>
            </div>

            <button type="submit" class="btn btn-primary toHorizontalyCenter">Se connecter</button>

            @if (ViewData["ErreurConnexion"].ToString() == "True")
            {
                <p class="identifiantsInvalides">Identifiants invalides</p>
            }
        }
    </div>


    <a class="btn btn-link" asp-action="InscriptionClient" role="button">Pas encore inscrit ?</a>
</div>