@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewBag.Title = "Modification compte client";
}
<!-- From : https://www.completecsharptutorial.com/asp-net-mvc5/pass-data-using-viewbag-viewdata-and-tempdata-in-asp-net-mvc-5.php -->
@using GestionRelationClient.Models
@{
    Client client = ViewData["Client"] as Client;
}

<div class="listeComptesClient">

    <p class="lienRetour">
        <a class="btn btn-link" asp-action="ListeComptesClient" asp-route-ClientId="@client.UtilisateurId" role="button">< Retour</a>
    </p>

    <h2>Bienvenue @client.Prenom</h2>





    @using (Html.BeginForm("ModificationCompteClient", "Client", FormMethod.Post))
    {
        <div class="formInscriptionClient">
            @Html.Hidden("ClientId", client.UtilisateurId)

            <div class="form-group">
                <div>
                    <label for="Login">Login</label>
                    <input type="text" name="Login" class="form-control" />
                </div>

                <div>
                    <label for="Mail">Mail</label>
                    <input type="text" name="Mail" class="form-control" />
                </div>

            </div>

            <div class="form-group">

                <div>
                    <label for="Nom">Nom</label>
                    <input type="text" name="Nom" class="form-control" />
                </div>

                <div>
                    <label for="Prenom">Prénom</label>
                    <input type="text" name="Prenom" class="form-control" />
                </div>


            </div>

            <div class="form-group">

                <div>
                    <label for="MotDePasse">Mot de passe</label>
                    <input type="password" name="MotDePasse" class="form-control form-control-motDePasse" />
                </div>


            </div>

            <div class="form-group">

                <div>
                    <label for="Telephone">Téléphone</label>
                    <input type="text" name="Telephone" class="form-control" />
                </div>

                <div>
                    <label for="Age">Age</label>
                    <input type="number" name="Age" class="form-control" />
                </div>

            </div>

            <button type="submit" class="btn btn-primary toHorizontalyCenter">Modifier ce compte</button>
        </div>
     }
        

</div>
