@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model GestionRelationClient.Models.Utilisateur

<h2>Nom : @Model.Login</h2>
<h3>Prenom : @Model.MotDePasse</h3>
