@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model GestionRelationClient.Models.Client

<h3>Login : @Model.Login / Mot de passe : @Model.MotDePasse</h3>
<h2>Nom : @Model.Nom / Prenom : @Model.Prenom</h2>
