@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model GestionRelationClient.Models.Compte


@using (Html.BeginForm("SelectionCompteClient", "Client", FormMethod.Post))
{
<div class="formSelectionCompte">
    <h4>@Model.NomCompte</h4>
    @Html.Hidden("IdCompte", Model.CompteId)
    <button type="submit" class="btn btn-primary">Sélectionner ce compte</button>
</div>
}
